30 17 * * SAT cd zdrofit && python book_activity.py -i AT -g zdrofit -c gdansk-przymorze -a Sztangi             -w Monday     -s 17:30
30 17 * * SAT cd zdrofit && python book_activity.py -i MS -g zdrofit -c gdansk-przymorze -a Sztangi             -w Monday     -s 17:30
30 18 * * SAT cd zdrofit && python book_activity.py -i AT -g zdrofit -c gdansk-przymorze -a Interwał            -w Monday     -s 18:30
30 18 * * SAT cd zdrofit && python book_activity.py -i MS -g zdrofit -c gdansk-przymorze -a Interwał            -w Monday     -s 18:30
30 17 * * WED cd zdrofit && python book_activity.py -i AT -g zdrofit -c gdansk-przymorze -a "Trening Obwodowy"  -w Friday     -s 17:30
30 17 * * WED cd zdrofit && python book_activity.py -i MS -g zdrofit -c gdansk-przymorze -a "Trening Obwodowy"  -w Friday     -s 17:30
00 09 * * THU cd zdrofit && python book_activity.py -i AT -g zdrofit -c gdansk-przymorze -a "Full Body Workout" -w Saturday   -s 09:00
00 10 * * THU cd zdrofit && python book_activity.py -i AT -g zdrofit -c gdansk-przymorze -a "Zdrowy kręgosłup"  -w Saturday   -s 10:00
00 19 * * WED cd zdrofit && python book_activity.py -i MS -g zdrofit -c gdynia-karwiny   -a Sztangi             -w Friday     -s 19:00
