[zdrofit.account.AT]
name=Asia Tejkowska
email=j.tejkowska@gmail.com
password=pass
[zdrofit.account.MS]
name=Michał Salwin
email=michal.salwin@gmail.com
password=pass

[sendinblue]
api_key=key
from_email=zdrofit.autosubscribe@zdrofit.pl
from_name=Zdrofit
cc_email=michal.salwin@gmail.com
cc_name=Michał Salwin


